<header class="main-header">
  <nav class="navbar container">
    <a class="navbar-brand" href="https://tapsi.ir">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="102"
        height="22"
        viewBox="0 0 102 22"
      >
        <g fill-rule="evenodd">
          <path
            fill="#000"
            d="M102 5.946h-3.222v4.28H91.8v-4.28h-3.221v4.28h-5.637a1.878 1.878 0 0 1-1.879-1.872V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873 1.878 1.878 0 0 1-1.879-1.873V5.946h-3.221v2.408a1.878 1.878 0 0 1-1.879 1.873h-1.879V5.946h-3.22v4.28h-17.18v3.212h3.758v.535c0 2.656-2.167 4.816-4.831 4.816-2.664 0-4.832-2.16-4.832-4.816v-3.746H37.58v3.746c0 4.426 3.613 8.027 8.053 8.027 4.44 0 8.052-3.6 8.052-8.027v-.535H68.985a5.09 5.09 0 0 0 3.489-1.381 5.09 5.09 0 0 0 3.49 1.38 5.09 5.09 0 0 0 3.489-1.38 5.089 5.089 0 0 0 3.489 1.38H102V5.947z"
          ></path>
          <path
            fill="#000"
            d="M84.702 19.297h3.854V22h3.304v-5.946h-7.158zM102 0h-6.561v2.973H102z"
          ></path>
          <path
            fill="#FF5B35"
            d="M26.842 11.297H10.737V5.946h16.105zM26.842 22H0v-5.351h26.842z"
          ></path>
        </g>
      </svg>
    </a>
    <div class="nav__toggler">
      <div class="bar bar-one"></div>
      <div class="bar bar-two"></div>
      <div class="bar bar-three"></div>
    </div>
    <ul class="list nav__list">
      <li class="nav__item cta">
        <a class="nav__btn btn--primary btn--block">دانلود تپسی</a>
      </li>
      <li class="nav__item"><a href="#">وبلاگ</a></li>
      <li class="nav__item"><a href="#">فرصت های شغلی</a></li>
      <li class="nav__item"><a href="#">تپسی پک</a></li>
      <li class="nav__item"><a href="#">امور سهام</a></li>
      <li class="nav__item"><a href="#">پشتیبانی</a></li>
      <li class="nav__item"><a href="#">ویدیوها</a></li>
    </ul>
  </nav>
</header>
<script src="./js/main.js"></script>

<section class="feature container">
  <div class="">
    <h2 class="feature__title">تپسی پلاس</h2>
    <p class="feature__text">
      در سرویس پلاس تاکسی اینترنتی تپسی، خودرویی با مدل بالاتر و عمر کمتر، به
      دنبال شما خواهد آمد. همچنین رانندگان این سرویس بالاترین امتیاز را از
      مسافران دریافت کرده اند. در این سرویس مه در حال حاصر در تهران فعال است،
      امکان تعیین چند مقصد یا توقف در حین سفر، وجود دارد.
    </p>
  </div>
  <div class="feature__image">
    <img src="./assets/images/illus-plus 1.svg" alt="tapsi plus image" />
  </div>
</section>
<section class="feature container">
  <div class="feature__image">
    <img src="./assets/images/i-mac 1.svg" alt="i-mac image" />
  </div>
  <div class="feature__detail">
    <h1 class="feature__title">خدمات تپسی برای کسب و کارها</h1>
    <p class="feature__text">
      پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم زمان
      تعداد نامحدودی خودرو و پیک را برای کسب و کارها و سازمان ها فراهم می کند. و
      با استفاده از آن می توانید ماموریت های درون شهری و ارسال کالاهای خود را به
      سادگی مدیریت کنید.
    </p>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
<section class="feature container">
  <div class="feature__image">
    <img src="./assets/images/macbook 1.svg" alt="macbook image" />
  </div>
  <div class="">
    <h1>خرید کد اعتبار تپسی</h1>
    <p class="feature__text">
      کاربران، کسب و کارها و سازمان ها می توانند به تعداد و مبلغ مورد نظرشان، کد
      اعتبار یا کد تخفیف تپسی تهیه کرده، برای خود، پرسنل و یا مشتریانشان استفاده
      کنند و از تخفیف های ویژه تپسی نیز بهره مند شوند.
    </p>
    <p>
      این کدها امکان سفارش سازی براساس مبدا، مقصد، زمان، درصد و مبلغ را دارند.
    </p>
    <button class="btn btn--primary">خرید کد اعتبار و تخفیف</button>
  </div>
</section>
<section class="block-plan container">
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">عادی</span>
          <span class="badge">10% OFF</span>
        </span>
        <span class="plan__price">290,000</span>
        <span class="plan__billing-cycle">ماهانه / تومان</span>
        <span class="plan__description">سرویس ماشین های معمولی</span>
      </header>
      <div class="card__body">
        <div>
          <ul class="list list--tick">
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
            <li class="list__item">کیفیت معمولی</li>
          </ul>
        </div>
        <div>
          <button class="btn btn--block btn--secondary">ثبت سفارش</button>
        </div>
      </div>
    </div>
  </div>
  <div class="plan plan--popular">
    <div class="card card--primary">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">اقتصادی</span>
          <span class="badge badge--primary">15% OFF</span>
        </span>
        <span class="plan__price">390,000</span>
        <span class="plan__billing-cycle">ماهانه / تومان</span>
        <span class="plan__description">سرویس ماشین های کلاسیک</span>
      </header>
      <div class="card__body">
        <div>
          <ul class="list list--tick">
            <li class="list__item">کیفیت عالی</li>
            <li class="list__item">کم سر و صدا</li>
            <li class="list__item">زمان محدود</li>
            <li class="list__item">سرویس روزانه</li>
          </ul>
        </div>
        <div>
          <button class="btn btn--block btn--primary">ثبت سفارش</button>
        </div>
      </div>
    </div>
  </div>
  <div class="plan">
    <div class="card">
      <header class="card__header">
        <span class="plan__introduction">
          <span class="plan__name">ویژه</span>
          <span class="badge">20% OFF</span>
        </span>
        <span class="plan__price">490,000</span>
        <span class="plan__billing-cycle">ماهانه / تومان</span>
        <span class="plan__description">سرویس ماشین های مدل بالا</span>
      </header>
      <div class="card__body">
        <div>
          <ul class="list list--tick">
            <li class="list__item">کیفیت خیلی خفن</li>
            <li class="list__item">بی سر و صدا</li>
            <li class="list__item">زمان نامحدود</li>
            <li class="list__item">سرویس نامحدود</li>
          </ul>
        </div>
        <div>
          <button class="btn btn--block btn--secondary">ثبت سفارش</button>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="main-footer">
  <div class="footer container">
    <div class="footer_item tapsi-logo">
      <img src="./assets/images/tapsi-logo-white.svg" alt="" />
      <h3>اپلیکیشن درخواست خودرو و پیک</h3>
      <p>تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
    </div>
    <div class="footer_item">
      <h6>تپسی</h6>
      <a href="">وبلاگ تپسی</a>
      <a href="">فرصت شغلی</a>
      <a href="">تماس با ما</a>
      <a href="">لوگو و هویت سازمانی</a>
      <a href="">معرفی راننده به تپسی</a>
      <a href="">استخدام بازاریاب</a>
    </div>
    <div class="footer_item">
      <h6>مسافران</h6>
      <a href="">دانلود اپ مسافر</a>
      <a href="">نسخه وب تپسی</a>
      <a href="">پرسش های متداول مسافران</a>
      <a href="">شرایط و قوانین مسافران</a>
      <a href="">باشگاه مشتریان</a>
    </div>
    <div class="footer_item">
      <h6>رانندگان</h6>
      <a href="">دانلود اپ سفیر</a>
      <a href="">ثبت نام رانندگان تاکسی اینترنتی</a>
      <a href="">پرسش های متداول سفیران</a>
      <a href="">شراط و قوانین سفیران</a>
      <a href="">باشگاه سفیران</a>
      <a href="">ثبت نام راننده موتور</a>
    </div>
    <div class="footer_item">
      <h6>کسب و کارها</h6>
      <a href="">پنل سازمانی تپسی</a>
      <a href="">خرید کد اعتبار و تخفیف</a>
      <a href="">دریافت API</a>
    </div>
    <div class="footer_item trust">
      <div class="footer__trust etehadiye">
        <img src="./assets/images/etehadiye.png" alt="" />
      </div>
      <div class="footer__trust samandehi">
        <img src="./assets/images/samandehi_.png" alt="" />
      </div>
      <div class="footer__trust enemad">
        <img src="./assets/images/ENAMAD.png" alt="" />
      </div>
    </div>
  </div>
  <div class="social-container container">
    <h3>تپسی در شبکه های اجتماعی</h3>
    <div class="social-links">
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#telegram-2"></use>
      </svg>
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#instagram-2"></use>
      </svg>
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#facebook-2"></use>
      </svg>
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#twitter-2"></use>
      </svg>
      <svg class="linkedin">
        <use xlink:href="./assets/images/social-sprite.svg#linkedin-2"></use>
      </svg>
    </div>
  </div>
</footer>
