<section class="contact-us container">
  <div class="contact-us__social">
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/images/svg-sprite.svg#linkedin"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/images/svg-sprite.svg#facebook"></use>
      </svg>
    </span>
    <span class="icon-container">
      <svg class="icon">
        <use xlink:href="./assets/images/svg-sprite.svg#twitter"></use>
      </svg>
    </span>
  </div>

  <div class="contact-us__icons">
    <div class="icon-holder">
      <span class="icon-holder__label"
        >ایران - کردستان - سنندج -خیابان 21 - کوچه 101</span
      >
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="./assets/images/svg-sprite.svg#location"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__label">+989182451234</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="./assets/images/svg-sprite.svg#calling"></use>
        </svg>
      </span>
    </div>
    <div class="icon-holder">
      <span class="icon-holder__label">info@fronthooks.ir</span>
      <span class="icon-container">
        <svg class="icon">
          <use xlink:href="./assets/images/svg-sprite.svg#message"></use>
        </svg>
      </span>
    </div>
  </div>
  <div class="contact-us__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10146.708096925991!2d54.03603283353502!3d29.12703301966676!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fab552ec27c6d3b%3A0xf25ea6551174a810!2sEstahban%2C%20Fars%20Province%2C%20Iran!5e0!3m2!1sen!2sde!4v1696923441341!5m2!1sen!2sde"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
  <div class="contact-us__form">
    <div class="form-wrapper">
      <h3>نظرات شما</h3>
      <form>
        <input type="text" placeholder="نام و نام خانوادگی" />
        <input type="email" name="" id="" placeholder="ایمیل" />
        <textarea
          name=""
          id=""
          cols="30"
          rows="10"
          placeholder="انتقادات و پیشنهادات"
        ></textarea>
        <button type="submit" class="btn btn--primary">ثبت نظرات</button>
      </form>
    </div>
  </div>
</section>
