<footer class="main-footer">
  <div class="footer container">
    <div class="footer_item tapsi-logo">
      <img src="./assets/images/tapsi-logo-white.svg" alt="" />
      <h3>اپلیکیشن درخواست خودرو و پیک</h3>
      <p>تمام حقوق مادی و معنوی این وبسایت متعلق به تپسی است.</p>
    </div>
    <div class="footer_item">
      <h6>تپسی</h6>
      <a href="">وبلاگ تپسی</a>
      <a href="">فرصت شغلی</a>
      <a href="">تماس با ما</a>
      <a href="">لوگو و هویت سازمانی</a>
      <a href="">معرفی راننده به تپسی</a>
      <a href="">استخدام بازاریاب</a>
    </div>
    <div class="footer_item">
      <h6>مسافران</h6>
      <a href="">دانلود اپ مسافر</a>
      <a href="">نسخه وب تپسی</a>
      <a href="">پرسش های متداول مسافران</a>
      <a href="">شرایط و قوانین مسافران</a>
      <a href="">باشگاه مشتریان</a>
    </div>
    <div class="footer_item">
      <h6>رانندگان</h6>
      <a href="">دانلود اپ سفیر</a>
      <a href="">ثبت نام رانندگان تاکسی اینترنتی</a>
      <a href="">پرسش های متداول سفیران</a>
      <a href="">شراط و قوانین سفیران</a>
      <a href="">باشگاه سفیران</a>
      <a href="">ثبت نام راننده موتور</a>
    </div>
    <div class="footer_item">
      <h6>کسب و کارها</h6>
      <a href="">پنل سازمانی تپسی</a>
      <a href="">خرید کد اعتبار و تخفیف</a>
      <a href="">دریافت API</a>
    </div>
    <div class="footer_item trust">
      <div class="footer__trust etehadiye">
        <img src="./assets/images/etehadiye.png" alt="" />
      </div>
      <div class="footer__trust samandehi">
        <img src="./assets/images/samandehi_.png" alt="" />
      </div>
      <div class="footer__trust enemad">
        <img src="./assets/images/ENAMAD.png" alt="" />
      </div>
    </div>
  </div>
  <div class="social-container container">
    <h3>تپسی در شبکه های اجتماعی</h3>
    <div class="social-links">
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#telegram-2"></use>
      </svg>
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#instagram-2"></use>
      </svg>
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#facebook-2"></use>
      </svg>
      <svg class="">
        <use xlink:href="./assets/images/social-sprite.svg#twitter-2"></use>
      </svg>
      <svg class="linkedin">
        <use xlink:href="./assets/images/social-sprite.svg#linkedin-2"></use>
      </svg>
    </div>
  </div>
</footer>
