<!DOCTYPE html>
<html lang="fa" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Travel</title>
  </head>
  <body>
    <section class="travel container block">
      <div class="travel__slides">
        <div class="travel__slide">
          <div class="slide__img">
            <img src="../assets/images/travel.png" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب کویر</p>
            <div class="slide__icons">
              <div class="">
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div class="">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
            <div class="avatar-group">
              <div class="avatar">
                <img src="../assets/images/vicky-hladynets-C8Ta0gwPbQg-unsplash.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="../assets/images/jake-nackos-IF9TK5Uy-KI-unsplash.jpg" alt="" />
              </div>
              <div class="avatar">
                <img src="../assets/images/nicolas-horn-MTZTGvDsHFY-unsplash.jpg" alt="" />
              </div>
              <div class="hidden-avatars">+10</div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="../assets/images/neom.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به کوهستان</p>
            <div class="slide__icons">
              <div class="">
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div class="">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="../assets/images/piermanuele.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به قلب جنگل</p>
            <div class="slide__icons">
              <div class="">
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div class="">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="travel__slide">
          <div class="slide__img">
            <img src="../assets/images/masood.jpg" alt="" />
          </div>
          <div class="slide__detail">
            <div class="slide__header">
              <span class="badge badge--primary">ویژه</span>
              <p>اقامت رایگان &bull; سفر سه روزه</p>
            </div>
            <p class="slide__title">سفر به شهر عشاق</p>
            <div class="slide__icons">
              <div class="">
                <i class="fas fa-heart"></i>
                <span>12</span>
                <i class="far fa-eye"></i>
                <span>24</span>
              </div>
              <div class="">
                <i class="far fa-edit"></i>
                <i class="far fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
